<!--  customer.js file is needed for onclick action on buttons and sub-menu tabs    -->
<!--  table name: 'tabRight' is the main table for right navigation   -->
<div style="background-color: #fff;">
<table width="100%" border="0" name="tabRight"> 
    <tr> 
        <td>
            <ul class="tabs"> 
                <li class="active" rel="tab1" id="subMenuId" >Notification</li>    <!--  right menu table name   -->        
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%"  align=center border="0" cellpadding="0" cellspacing="0" class="tbl-border" >
                <tr class="trMessage1">
                       <td><div class="message1"></div></td>
                </tr>
                <tr>   
                    <td  id="tbSearchCustomer"  style="text-align: center; height:450px;" >

                        <table width="50%"  border="0" cellpadding="0" cellspacing="0" class="tbl-border-content" style="margin:auto;">           
                            <tr>
                                <td class="td-label-title">Access Denied! </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr> 

            </table>

        </td>
    </tr>
</table> 
</div>
