<!Doctype html>
<html>
    <head>
        <title>Tashi Interiors|Access Denied</title>
	</head>
	<style>
	body{
		background-color:#ccc;
	}
	.adcontainer{
		height:150px;
		width:500px;
		margin:100px auto 0 auto;
		border:1px solid #FF6347;
		background-color:#FFE4E1;
		border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		-webkit-border-radius:10px;
	}
	p.ad{
		margin:0;
		padding:10px 0;		
		font-family:Trebuchet Ms;
                font-weight: normal;
		font-size: 28px;
		text-align:center;	
		color:#800000;		
	}
	
	p.msg{
		margin:0;
		margin-top:15px;
		padding:0;
		padding-left: 50px;
		text-align:justify;
		font-size:16px;
		font-family: Trebuchet Ms;
                font-weight: normal;
		color:#800000;
	}
	</style>
	<body>
            <div style="height:400px;">
		<div class="adcontainer">
			<p class="ad">ACCESS DENIED</p>
			<p class="msg">
				1. You do not have the permission to access this page<br><br>
				2. You do not have the permission to perform this action.
				
			</p>
		</div>
            </div>
	</body>
</html>