<a href="{{asset(tran.proofFk.path)}}" target="_blank" style="color:#0f6e50;">{{tran.proofFk.originalName}}.{{tran.proofFk.docType}}</a>&nbsp;&nbsp;
<a href="javascript:;" style="font-size: .9em;" onclick="changeProof();">Change</a> |
<a href="javascript:;" style="font-size: .9em; color:#ff0000;" onclick="ToggleRemoveFile(this);">Delete</a>
<input type="hidden" id="inputIsDel" name="inputIsDel" value="">
