<!Doctype html>
<html>
    <head>
        <title>Tashi Interiors|Reset Password</title>
        <style>
			body{
				font-family:Arial,Helvetica,sans-serif;				
			}     
	
			p{
				text-align:justify;
				color:#333;
				font-weight: normal;
				font-size:13px;
			}
			a{
				font-weight:normal;
				color:#0066ff;
				text-decoration:underline;
			}
			hr{
				margin:15px 0;
				width:200px;
				border:none;
				border-top:1px dashed #333;
			}
        </style>
    </head>
    <body>
        <div id="wrapper" style="margin: 0 auto;
                                max-width:99%;
                                padding: 0px;
                                font-size: 10.5pt;
                                font-weight: bold;
                                color: #ceddab;
                                border:solid 0px ;">
            <div id="header" style="height: 60px;
                                    max-width:100%;
                                    color:#fff; 
                                    font-size:10pt; 
                                    font-weight:bold;   
                                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
                                    padding: 0px 1px;
                                    border:1px solid #727272;
                                    border-radius: 5px;
                                    background: #727272;">        
                <div style="float:left; font-size: 20px;">
                    <span style="font: normal 25px 'Trebuchet MS', Arial, Helvetica, sans-serif;text-transform: uppercase; color: #75d509;">Tashi</span> interiors<br/>
                    <span style="margin-left: 25px; font: normal 18px 'Trebuchet MS', Arial, Helvetica, sans-serif;">embracing quality</span>
                </div>
            </div>
            <h2 style="margin:15px 0; color:#0f6e50; padding:10px 0;">Forgot Your Password?</h2>
			<p>We have received a request to reset the password for the account associated with this email.</p>
			<br>
			<p>To reset your password please click on the link below or Copy & Paste this URL into your browser (works only one time). </p>
			<a href="{{url('_gotoresetpassword',{'link':link})}}" title="Click to reset password">{{url('_gotoresetpassword',{'link':link})}}</a>
			<br>
			<p>This link will take you to a page where you can reset your password. </p>
			<hr>
			<p>If you did not made any request. Please let us know @ <a href="mailto:enquiry@tashiinteriors.com">enquiry@tashiinteriors.com</a> </p>
			<hr>
			<p>This is an auto generated email. Please do not reply to this email.</p>
			<br>
			<hr style="width:100%"/>
			<p>This message was sent to <span style="color:#0066ff;">{{email}}</span>.</p>
        </div>
    </body>
</html>

