<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >                       
                <tr>
                    <td class="td-label-title">Search User Account </td>
                </tr>
                <tr>
                    <td>
                        <form id="FormSearchAccount">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="td-gray-bg" width="150px">Search By <span class="mandatoryField">*</span></td>
                                    <td class="td-white-bg">
                                        <select id="selCriteria" name="selCriteria" onchange="toggleCriteriaAccount(this);">
                                            <option value='all'>All</option>
                                            <option value='idname'>Employee ID/Name</option>
                                            <option value='uname'>User/Login Name</option>
                                        </select>
                                        <input type="text" id="txtkeyword" name="txtkeyword" class="cmnWidth" style="display:none;">
                                    </td>                                
                                </tr>                            
                                <tr>
                                    <td class="td-gray-bg"></td>
                                    <td class="td-white-bg">
                                        <input type="button" class="button" value="Search" onclick="searchAccount();">
                                        <input type="hidden" id="inputSearchAccUrl" value="{{path("_searchaccount")}}">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>
        </form>
        <br/>
        <div id="divAccList"></div>