<div class='sub-menu'>
    <ul>
        <li class='active'><a href="javascript:void();">Manage Product</a></li> 
        <li ><a href="javascript:void();">Search Product</a></li>
    </ul>
</div>
<div class="newdashboard"> 
    <div class="application-form"> 
        <table style="width:100%;" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >        
            <tr>
                <td class="td-separator">
                    <table width="100%" align=center border="0" cellpadding="0" class="tbl-border" cellspacing="0" >
                        <tr>
                            <input id="spanCloseOpenHandlerSelectCategory" value="0" type="hidden">
                            <td class="td-label-title" onclick="lmsShowHideAddressResult('SelectCategory');">Select Category
                                <span style="float: right;" id="spanIdSelectCategory" class="span_open" >&nbsp;</span>
                            </td>                                
                        </tr>
                        <tr id="trAddressSelectCategory">
                            <td class="td-separator">                 
                                <form id="frmSubCatProductSearch" style="margin: 0px;">
                                    <table width="100%" align="center" border="0"  cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="30%" class="td-gray-bg">Select Category:</td>
                                                <td width="70%" class="td-white-bg" align="left">
                                                    <select id="pkid"  class="normal_select cmnWidth">
                                                        <option value="">--Select--</option>
                                                                {%for cat in category%}
                                                        <option value="{{path('_prd_appendsubcat',
                                                                {'iscategory':'1','pkid':cat.pkid,'mode':'insert'})}}#}">{{cat.categoryName}}</option>
                                                                {%endfor%}
                                                    </select>   
                                                    <input type="hidden" name="searchvalue" value="" id="searchvalue"/>
                                                </td>
                                           </tr>
                                        </tbody>
                                        <tbody id="tbodyDynamic">
                                        </tbody>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="95%" class="td-separator">
                  <div  id="prdproductList"></div>       
                </td>
            </tr>
            <tr>
                <td  class="td-separator">
                  <div id="createprod"></div> 
               </td>
            </tr>
        </table>
    </div>
</div>
