
<p class="success" style=" padding:7px 0; text-align:center; background-image: none;">
        Product has been added successfully. Click 
        <a href="javascript:void(0);" onclick="fnLeftMenuNavigation('{{path('_gotoaddproduct')}}', 'new_prod_li', 'Product', 'Manage Product','Add New Product');">here</a> 
        to add new product.
</p>