
 <div class='sub-menu'>
     <ul>
         <li class='active'><a href='#' href="javascript:void();" onclick="fnLeftMenuNavigation('{{path('_invoice_approval')}}', 'invoice_approval', 'Approve Invoice','Approve Invoice');">Approve Invoice</a></li>
     </ul>
 </div>
<div class="newdashboard">  
    <div class="application-form"> 
       
        
        
        <div id="display-list" style="margin-top: 8px;">
        <input type="hidden" id="jobProfileUpdateURL" value="">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
            <tr>
                <td class="td-label-title">List of Invoice</td>
            </tr>
            <tr>
                <td>

                    <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                        <thead>
                            <tr> 
                                <th class="tbl-th-grid-view-row-no-bg">Invoice ID:</th>
                                <th class="tbl-th-grid-view-row-no-bg">Item Name:</th>   
                                <th class="tbl-th-grid-view-row-no-bg">Status:</th>
                                <th class="tbl-th-grid-view-row-no-bg">Action</th>                                              
                            </tr>
                        </thead>

                        <tbody>                           
                            <tr>
                                <td class="tbl-grid-view-row-no-bg" align="center">INVOICE-001</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">Black Marbel Wall Tiles</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">Pending</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">
                                    <select>
                                        <option>--Select--</option>
                                        <option>View</option>
                                        <option>Approve</option>
                                        <option>Reject</option>
                                    </select>
                                </td>                                                
                            </tr> 
                             <tr>
                                <td class="tbl-grid-view-row-no-bg" align="center">INVOICE-002</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">Concrete Marbel Wall Tiles</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">Approved</td>
                                <td class="tbl-grid-view-row-no-bg" align="center">
                                    <select>
                                        <option>--Select--</option>
                                        <option>View</option>
                                        <option>Approve</option>
                                        <option>Reject</option>
                                    </select>
                                </td>                                                
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>                                 
        </table>
    </div>
        
        
        
        
        
    </div> 
    </div>