<h3 style="margin:0; margin-top:50px; font-family:Helvetica; color:#009900; text-align: center; background: none;">
    Invoice has been created successfully. Generated Invoice Number is: <a href="javascript:void(0);">{{invoiceno}}</a>
</h3> 
<p style="text-align:center;"><a href="javascript:void(0);" onclick="CallPrint('divPrint');">Print Invoice</a></p>
<div id="divPrint">
    <div id="divinvoiceArea" style ="width:95%; margin:0 auto;">
        
    </div>    
</div>

