{%set current =0%}
{%if cur is defined%}
{%set current = cur%}
{%endif%}

<td class="td-gray-bg cmnWidth">{#Select Source ID List:<span class="necessary-field">*</span>#}</td>
<td class="td-white-bg">Cash Account Current Balance(<b>&#8377;</b>):
   {# <select name="selectlist" id="ddlb_accountantlist" class="cmnWidth">
        <option value="">--Select--</option>
                   {%for accountant in details %}
        <option value="{{accountant.empJobTitleFk.jobTitlePk}}">{{accountant.personFk.personName}}</option>
                   {%endfor%}
    </select>#}
</td>
<td class="td-gray-bg cmnWidth"><span style="color:red;">{{current}}</span></td>
<td class="td-white-bg"></td>
       
                    
