#navigation {
    margin: 0;
    padding: 0 1em;
    height: 3em;
    list-style: none;
}

#navigation > li {
    float: left;
    height: 100%;
    margin-right: 0.5em;
    padding: 0 1em;
}

#navigation > li > a {
    /*float: left;
    height: 100%;*/
    color: #0db463;
    text-shadow: 3;
    text-decoration: underline;
    line-height: 3;
    font-weight: bold;
    text-transform: uppercase;
}

#navigation > li > a:hover {
    color: #0fc96f;
    text-decoration: underline;
}
#navigation > li.sub {
    position: relative;
}
#navigation > li.sub ul {
    width: 75%;
    margin: 0;
    margin-left: 60px;
    padding: 0.5em 0;
    list-style: none;
    background: #333;
    position: absolute;
    top: -1000em;
    z-index: 1000;
}

#navigation > li.sub ul li {
    width: 90%;
    margin: 0 auto 0.3em auto;
}

#navigation > li.sub ul li a {
    height: 100%;
    display: block;
    padding: 0.7em;
    color: #D8D7D7;
    font-weight: bold;
    text-decoration: none;
}

#navigation > li.sub ul li a:hover {
    background: #444;
 /*text-decoration: underline;*/
}
#navigation > li.sub:hover ul {
    top: 2.3em;
}

