<div class='sub-menu'>
    <ul>
        <li class='active'><a href='#' href="javascript:void();" onclick="fnLeftMenuNavigation('{{path('_report_master_purchase')}}', 'report_master_purchase', 'Report Master','Purchase Report');">Purchase</a></li>
    </ul>
</div>
<div class="newdashboard">  
    <div class="application-form"> 
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">                       
            <tr>
                <td class="td-label-title">Purchase</td>
            </tr>
            <tr>
                <td>                 
                    <form id="frmReportMasterPurchase" style="margin: 0px;">
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">  
                            
                            <tr>
                                <td class="td-separator" colspan="6" style="text-align: center;">
                                    <input type="button" class="button blue" id="btn_save" value="Generate Report" onclick=""/>
                                    <input type="button" class="button blue" id="btn_clear" value="Reset" onclick="formReset();"/>  
                                </td>  
                            </tr>
                        </table>
                    </form>                               
                </td>
            </tr> 
        </table>      
    </div> 
    </div>