
</br>
</br>
<div id="divTabs" class='sub-menu'>
    <ul id="tabs">
        <li id="asset_li" class="active"><a href="javascript:void(0);" onclick="AssetNavigation('asset_li', '{{path("_assetdetail",{asetid:asetId})}}');">Detail</a></li> 
        <li id="history_li" ><a href="javascript:void(0);" onclick="AssetNavigation('history_li', '{{path("_asset_history",{asetid:asetId})}}');">History</a></li>
    </ul>
</div>
<form id="ProjectForm" enctype="multipart/form-data">
    <div id="divAssetDetail" style="margin: 0; margin-top:-3px; padding:5px; padding-top:10px; border:1px solid #818181;">
    </div>
</form>


