<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
    <tr>
        <td class="td-label-title">Designation List:</td>
    </tr>
    <tr>
        <td>
            <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                <thead>
                    <tr> 
                        <th class="tbl-th-grid-view-row-no-bg">Designation Name</th>
                        <th class="tbl-th-grid-view-row-no-bg">Description</th>
                        <th class="tbl-th-grid-view-row-no-bg">Action</th>                                               
                    </tr>
                </thead>
                <tbody>
                             {% for jt in allRecord.result%}
                        <tr>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{jt.jobTitleName | default('')}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{jt.description | default('')}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">
                                <a href="javascript:void();" onclick="retrieveEmpJobTitle('{{ path('_retrieve_emp_job_title', {'empJobTitleId': jt.jobTitlePk | default('')})}}');">Edit</a> |
                                <a href="javascript:void();"  style="color:#ff0000;" onclick="deleteEmpSubModule('{{ path('_delete_emp_job_title',{ 'empJobTitleId': jt.jobTitlePk | default('')})}}','Designation');">Delete</a>
                            </td>                                                 
                        </tr>
                                  {%endfor%}
                    </tbody>
                </table>
            </td>
        </tr>                                 
    </table>