<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
    <tr>
        <td class="td-label-title">Wages Type List</td>
    </tr>
    <tr>
        <td>

            <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                <thead>
                    <tr>
                        <th class="tbl-th-grid-view-row-no-bg">Wages Type</th>
                        <th class="tbl-th-grid-view-row-no-bg">Description</th>
                        <th class="tbl-th-grid-view-row-no-bg">Action</th>                                              
                    </tr>
                </thead>
                <tbody> 
                        {%for a in allRecord%}
                        <tr>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{ a.salaryType}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">{{ a.description}}</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">
                                <a href="javascript:void();" onclick="retrieveEmpWorkingSalaryType('{{ path('_retrieve_emp_working_salary_type',{ 'workingSalaryTypeId': a.salaryTypePk})}}');">Edit</a> 
                                | <a href="javascript:void();"  style="color:#ff0000;" onclick="deleteEmpSubModule('{{ path('_deleteEmpWorkingSalaryType', { 'workingSalaryTypeId': a.salaryTypePk | default('')})}}', 'Wages Type');">Delete</a>
                            </td>
                        </tr>                    
                  {%endfor%}
                    </tbody>

                </table>
            </td>
        </tr>                                 
    </table>