<form id="emp_job_details">
<div class="job_detials">  
    <table width="99%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" style="margin: 0 auto;">                   
        <tr>
            <td class="td-label-title">Qualification Details:</td>
        </tr>
        <tr class="emp_contact_detail_form">
            <td>
                <table width="100%" align="center" cellpadding="0" cellspacing="0">                                                                                                                                            
                    <tr>
                        <td class="td-gray-bg">Add Qualification: </td>
                        <td class="td-white-bg">
                               <input type="text" class="cmnWidth" name="txt_emp_qualification"/>                              
                        </td>                                                                            
                    </tr> 
                    <tr>
                        <td class="td-gray-bg">Description: </td>
                        <td class="td-white-bg">
                            <textarea type="text" class="cmnWidth" name="txt_description"></textarea>                              
                        </td>
                    </tr> 
                    <tr>
                        <td class="td-separator" colspan="4" style="text-align: center;">
                            <input type="button" class="button blue" id="btn_save" value="Save" onclick=""/>                                                                                  
                        </td>  
                    </tr>
                </table>
           </td>  
       </tr>
   </table>
</div> 
</form>