<div class="application-form">        
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border">           
        <tr>
            <td class="td-label-title">
                <span>List of Projects</span>                                              
            </td>
        </tr>
        <tr>
            <td class="td-cmn-white-bg">
                <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                    <thead>
                        <tr>
                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg">PRODUCT</th>
                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg">EXPENSES TYPE</th>
                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg">DESCRIPTION</th>
                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg">RECEIPT NO</th>                                   
                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg">AMOUNT</th>
                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg">BILL DATE</th>
                            <th class="tbl-th-grid-view-row-no-bg tbl-th-bg">ACTION</th>                                        
                        </tr>
                    </thead>
                    <tbody>  
                        <tr>
                            <td class="tbl-grid-view-row-no-bg" align="center">Black Marble Tiles</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">Project Expense</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">This an example</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">R123</td>
                            <td class="tbl-grid-view-row-no-bg" align="center">1000</td> 
                            <td class="tbl-grid-view-row-no-bg" align="center">02-20-2015</td>                                                                            
                            <td class="tbl-grid-view-row-no-bg" align="center" style="width: 150px;">
                                <select class="cmnShorterWidth" id="txt_emp_salary_type" name="txt_emp_salary_type">
                                    <option>--Select--</option> 
                                     <option>View</option> 
                                     <option>Edit</option>                                                                                  
                                </select>   
                                <input type="button" class="button blue" id="btn_save" value="Go" onclick="">                                      
                            </td> 
                        </tr>
                                           
                    </tbody>
                </table>                 
            </td>                  
        </tr>              
    </table>    
</div>