<form id="employeePresentAddressForm" name="employeePresentAddressForm" method="POST">
    <table name="empPreAdd" id="empPreAdd" width="100%" class="tbl-border-content" align=center border="0" cellpadding="0" cellspacing="0">                         
        <tr>
            <td class="td-label-title" colspan="4">Employee Present Address<input id="spanCloseOpenHandlerPresentAdd" value="0" type="hidden"><span style="float: right;" onclick="lmsShowHideAddressResult('PresentAdd');" id="spanIdPresentAdd" class="span_open" >&nbsp;</span></td>
        </tr>                  
        <tr id="trAddressPresentAdd">
            <td>
                <table style="width: 100%;">
                    <tr>
                        <td class="td-gray-bg" style="width: 250px;">Address
                        </td>
                        <td class="td-white-bg"><textarea id="empAddress1"  class="address-text" name="empAddress"></textarea>
                            <input type="hidden" name="addresstype" readonly="true" value="present"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Contry
                        </td>
                        <td class="td-white-bg">
                            <select class="normal_select" style="width: 200px;" id="empCountry1" name="empCountry"  >

                                <option  value=""  >---select---</option> 

                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">State
                        </td>
                        <td class="td-white-bg">
                            <select class="normal_select" style="width: 200px;" id="empState1" name="empState"  >

                                <option  value=""  >---select---</option> 

                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">District
                        </td>
                        <td class="td-white-bg">
                            <select class="normal_select" style="width: 200px;" id="empDistrict1" name="empDistrict" >


                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">City
                        </td>
                        <td class="td-white-bg"><input type="text"  class="address-text" name="empCity" value="" id="empCity1"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Pin Code
                        </td>
                        <td class="td-white-bg"><input type="text" class="address-text" value="" name="empPinCode" id="empPinCode1"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Mobile No.
                        </td>
                        <td class="td-white-bg"><input type="text" class="address-text" name="empMobileNo" value="" id="empMobileNo1"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Email Id
                        </td>
                        <td class="td-white-bg"><input type="text"  class="address-text" value="" name="empEmail" id="empEmail1"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 10px;">
                            <input class="button" value="Save" type="button"/>&nbsp;
                             <input class="button" value="Cancel" type="button"/>
                        </td>
                    </tr>
                </table>                        
            </td>
        </tr>
    </table>
</form>
<form id="employeePermanentAddressForm" name="employeePermanentAddressForm" method="POST">
                <table name="empPerAdd" id="empPerAdd" width="100%" style=" margin-top: auto;" class="tbl-border-content" align=center border="0" cellpadding="0" cellspacing="0"  >                         
                     <tr>
                                                    <td class="td-label-title" colspan="4">Employee Permanent Address<input id="spanCloseOpenHandlerPermanentAdd" value="0" type="hidden"><span style="float: right;" onclick="lmsShowHideAddressResult('PermanentAdd');" id="spanIdPermanentAdd" class="span_open" >&nbsp;</span></td>
                      </tr> 
                        <tr id="trAddressPermanentAdd">
                        <td>
                            <table style="width: 100%;">
                    <tr>
                        <td class="td-gray-bg" style="width: 250px;">Address
                        </td>
                        <td class="td-white-bg"><textarea id="empAddress2"  class="address-text" name="empAddress"></textarea>
                            <input type="hidden" name="addresstype" readonly="true" value="present"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Contry
                        </td>
                        <td class="td-white-bg">
                            <select class="normal_select" style="width: 200px;" id="empCountry2" name="empCountry"  >
                                         
                                <option  value=""  >---select---</option> 
                                                          
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">State
                        </td>
                        <td class="td-white-bg">
                            <select class="normal_select" style="width: 200px;" id="empState2" name="empState"  >
                                            
                                <option  value=""  >---select---</option> 
                                
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">District
                        </td>
                        <td class="td-white-bg">
                            <select class="normal_select" style="width: 200px;" id="empDistrict2" name="empDistrict" >
                                             
                                                           
                             </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">City
                        </td>
                        <td class="td-white-bg"><input type="text"  class="address-text" name="empCity" value="" id="empCity2"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Pin Code
                        </td>
                        <td class="td-white-bg"><input type="text" class="address-text" value="" name="empPinCode" id="empPinCode2"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Mobile No.
                        </td>
                        <td class="td-white-bg"><input type="text" class="address-text" name="empMobileNo" value="" id="empMobileNo2"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-gray-bg">Email Id
                        </td>
                        <td class="td-white-bg"><input type="text"  class="address-text" value="" name="empEmail" id="empEmail2"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 10px;">
                            <input class="button" value="Save" type="button"/>&nbsp;
                             <input class="button" value="Cancel" type="button"/>
                        </td>
                    </tr>
                    </table>
                            </td></tr>
                </table>
            </form>
       