
<td style="width:170px; text-align: left;color: green;padding: 5px;font-weight: bolder;">
  <label id="walletid">  Wallet ID: {{ wallet.empWalletPk | default('')}}</label>
</td>
<td style="width:170px;text-align: left;color: green;font-weight: bolder;">
  <label id="walletamount">  Wallet Amount: {{ wallet.walletAmount | default('')}} </label>
</td>