{%set current =0%}
{%if cur is defined%}
{%set current = cur%}
{%endif%}

<td class="td-gray-bg cmnWidth"></td>
<td class="td-white-bg">
     Cash Account Current Balance(<b>&#8377;</b>):
</td>
<td class="td-gray-bg cmnWidth"><span style="color:red;">{{current}}</span></td>
<td class="td-white-bg"></td>
       
                    
