
<div class='sub-menu'>
<ul>
<li class='active' onclick="fnLeftMenuNavigation('{{path('_purchase_product')}}', 'purchase_product', 'Purchase Master', 'Purchase Product');"><a  href="javascript:void();">Create Purchase Order</a></li> 
{# <li id="Search_Purchase_id"><a href="javascript:void();" onclick="fnSubMenuNavigation('{{path('_search_purchase')}}', 'Search_Purchase_id', 'Purchase', 'Search Purchase', 'Search Purchase');"><span>Search</span></a></li> #}
</ul>
    </div>
    <div class="newdashboard"> 
        <div class="application-form"> 
            <form id="PODETAILS">
<div id="display-list" style="margin-top: 5px;">
    <input type="hidden" id="jobTitleUpdateURL" value="">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl-border" >           
        <tr>
       <input id="spanCloseOpenHandlerSearchCompanyResult" value="0" type="hidden">
       <td class="td-label-title" onclick="lmsShowHideAddressResult('SearchCompanyResult');">Shipping Company Details:
       <span style="float: right;" id="spanIdSearchCompanyResult" class="span_open" >&nbsp;</span></td>
        </tr>
         <tr id="trAddressSearchCompanyResult" >
            <td>                    
                <table width="100%" align="center" border="0" cellpadding="0" id="example" cellspacing="0"  class="display"  >  
                    <thead>
                        <tr><th class="tbl-grid-view-row-no-bg">Company Name:</th> 
                             
                            <th class="tbl-grid-view-row-no-bg">Action:</th> 
                        </tr>
                    </thead>

                    <tbody>                           
 
                          {% for c in company %}   <tr> 
                                <td class="tbl-grid-view-row-no-bg" align="center">{{c.companyName}}</td>
                                
                                
                                
                                 
                                
                            <td class="tbl-grid-view-row-no-bg" align="center"> 
                            <input type="button" value="Proceed" class="button blue" 
                                   onclick="FnViewPurchase('{{path('_supplier_view_for_purchase',{'comid':c.pkid})}}');"/>
                            </td>
                            </tr>                    
                          {%endfor%}

                        </tbody>



                    </table>
                </td>
            </tr>

   </table>

</div> 

            
            {# for company grid details#}
            
            <div id="company_grid">
            
            
            </div>
            <div id="company_detailsgrid">
            
            
            </div>
            
            <div id="sup_grid">
            
            
            </div>
            
            
            {#for supplier details#}
            <div id="supplier_details_grid">
            
            </div>
           
            {#ends here#}
            
            
            
            
            
            {#for purchase order details#}
            <div id="purchase_order_details" >
            
            </div>
            {#purchase order details ends here#}
            <br/>     
            <div id="display-list">
                  
                    
                         

            </div>
 
             </form>   
                
            </div>
            </div>







