<td class="td-gray-bg cmnWidth"></td>
<td class="td-white-bg cmnWidth"><span style="font-weight: normal;">Current Bank Balance (<b>&#8377;</b>):</span></td>
<td class="td-gray-bg cmnWidth"><span style="color:red;">  {{amount}} </span></td>
<td class="td-white-bg cmnWidth"></td>